    <h1 id="greeting" class="well well-sm text-center">Welcome to the Task Manager</h1>

      <div class="list-group">
        <a href="/tasks" class="btn btn-block btn-primary">Tasks</a>
 <a href="/tasks/new" class="btn btn-block btn-success">New Task</a>
      <!-- <li><a class="list-group-item" href="/tasks">Task Index</a></li>
      <li><a class="list-group-item" href="/tasks/new">New Task</a> -->
    </ul>
