<form class="form-vertical" action="/tasks/<%= @task.id %>" method="post">
  <p>Edit</p>
  <div class="form-group">
    <input class="form-control" type="hidden" name="_method" value="PUT">
    <input class="form-control" type="text" name="task[title]" value="<%= @task.title %>"><br>
    <textarea class="form-control" name="task[description]"><%= @task.description %></textarea><br>
    <input class="btn btn-success" type="submit" value="Update Task">
  </div>
</form>