<form action="/tasks/<%= @task.id %>" method="post">
  <p>Edit</p>
  <!-- forms always post but we need to put. see override in controller -->
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='task[title]' value="<%= @task.title %>"/><br/>
  <textarea name='task[description]'><%= @task.description %></textarea><br/>
  <input type='submit'/>
</form>