<!DOCTYPE html>
  <html>
  <head>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway|Julius+Sans+One|Amatic+SC">
    <title>Task Manager</title>
  </head>

  <body>
    <div class='container'>
      <nav class='navbar navbar-default'>
        <nav class='navbar-brand'>Task Manager</nav>
        <a href="/" class="navbar-link navbar-text navbar-right">Home</a>
      </nav>
    </div>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
  </html>