<!DOCTYPE html>
  <html>
    <head>
      <title>Task Manager</title>
      <!-- Bootstrap -->
      <link href="/css/bootstrap.css" rel="stylesheet">

      <!-- My styles -->
      <link href="/css/styles.css" rel="stylesheet">
    </head>

    <body>
      <!-- put navbar here for each page -->
      <nav class='navbar navbar-default'>
        <h1>Welcome to the Task Manager</h1>
      </nav>
      <!-- container will give margin. use when you don't want full page width (navbar, etc outside of container) -->
        <%= yield %>

    </body>

  </html>